{% extends 'blog/layout.html' %}


{% block content %}
    {% if messages %} 
    {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            {{ message.tags }}: {{ message.message }}  
          </div> 
        {% elif message.tags == 'success' %}
          <div class="alert alert-primary" role="alert">
            {{ message.tags }}: {{ message.message }}  
          </div> 
        {% endif %}
    {% endfor %}
    {% endif %}
      
    <div class="card mt-5" style="width: 50rem;">
        <div class="card-header">
            {{ post.title }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
                {% if post.photo %}
                        photo
                        <img src="{{ post.photo.url }}" alt="" style="width:100px;"/> 
                {% else %}
                        NO photo
                {% endif %}
            </li>
          <li class="list-group-item">{{ post.content }}</li>
          <li class="list-group-item">{{ post.created_at  }}</li>
        </ul>
        <div class="card-footer">
          {{post.author}}
        </div>
      </div>
      <a href="{% url 'blog:blog_edit' post.pk %}"><div class="btn btn-primary mt-3">edit</div></a>
      <a href="{% url 'blog:blog_delete' post.pk %}"><div class="btn btn-danger mt-3">delete</div></a>
      <a href="{% url 'blog:post_list'  %}"><div class="btn btn-secondary mt-3">List</div></a>
      <a href="{% url 'blog:comment_create' post.pk %}"><div class="btn btn-info mt-3">comment</div></a>
  

      <table class="table table-bordered table-hover mt-5">
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">댓글 내용</th>
            <th scope="col">작성자</th>
            <th scope="col">작성시간</th>
            <th scope="col">수정시간</th>
          </tr>
        </thead>
        <tbody>
          {% if comments %}
            {% for comment in comments %}
              
                <td>{{comment.pk}}</td>
                <td>{{comment.message}}</td>
                <td>{{comment.author}}</td>
                <td>{{comment.created_at|date:'Y년 m월 d일 G시 i분' }}</td>
                <td>
                  {{comment.updated_at|date:'Y년 m월 d일 G시 i분' }}
                  <a href="{% url 'blog:comment_edit' comment.pk %}"><div class="btn btn-primary">수정</div></a>
                {# <a href="{% url 'blog:comment_delete' comment.pk %}">{% include "blog/comment_modal.html" with a_label="삭제"%}</a>#}
                  <a href="{% url 'blog:comment_delete' comment.pk %}"><div class="btn btn-primary">삭제</div></a>
                
                </td>
              </tr>
              {% endfor %}
          {% else %}
          <tr>
            <td></td>
            <td> <p>등록된 댓글이 없습니다.</p></td>
          </tr>
             
          {% endif %}
      </tbody>
    </table>
    

{% endblock content %}