{% extends 'blog/layout.html' %}



{% block content %}

 
 
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            {{ post.title }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
                {% if post.photo %}
                        photo
                        <img src="{{ post.photo.url }}" alt="" style="width:100px;"/> 
                {% else %}
                        NO photo
                {% endif %}
            </li>

          <li class="list-group-item">{{ post.content }}</li>
          <li class="list-group-item">{{ post.created_at  }}</li>
        </ul>
        <div class="card-footer">
          Card footer
        </div>
      </div>

      <a href="{% url 'blog:blog_edit' post.pk %}"><div class="btn btn-primary mt-3">edit</div></a>
      <a href="{% url 'blog:blog_delete' post.pk %}"><div class="btn btn-danger mt-3">delete</div></a>
      <a href="{% url 'blog:post_list'  %}"><div class="btn btn-secondary mt-3">List</div></a>
  
{% endblock content %}