{% extends 'blog/layout.html' %}





{% block content %}

<div class="container">
    <div class="row pt-5">
        <div class="col-sm-3">
                sdsdsf
        </div>
       
        <div class="col-sm-9">
                {{page_user.username}}
                <a class="btn btn-secondary btn-sm"  href="{% url 'accounts:profile_edit' %}">Edit Profile</a>
                <hr>
                0 posts , 0 followers
                <hr>
                {{page_user.name}}
        </div>
        <div class="row sm-3">
            {% if post_list %}
                {% for post in post_list %}
                    {{post.title}}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}